* {
    box-sizing: border-box;
}

body {
    background-color: powderblue;
    margin: 0; 
    height: 100vh;
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 50%;
    margin-left: 50px
}

table td {
    text-align: center;
}